body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #00000000;
  border-radius: 2px;;
  /* max-width: 800px; */
}

.navbar p {
  color: #ffffff;
  padding: 10px;
}

a {
  color: #00c9d4;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  color: #ff740a;
}

.navbar a:hover {
  color: #ffffff;
}

.shabang {
  color: #ff740a;
  background-color: #1a1a20;
}

.gimme-some-room {
  padding-top: 15px;
}

.bg-dark {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.table {
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  --bs-table-color: #ff740a;
  --bs-table-bg: #08050500;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-emphasis-color);
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
  --bs-table-active-color: var(--bs-emphasis-color);
  --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
  --bs-table-hover-color: var(--bs-emphasis-color);
  --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
  margin-bottom: 0px;
  vertical-align: bottom;
  border-color: #ff740a00;
  text-align: center;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0rem;
}

.self-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;;
  gap: 15px;
  padding: 25px;
}

.alex-pic {
  grid-column: 1;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  border: 2px solid  #ff740a( 255, 255, 255, 0.5 );
}

.tech-stack-label {
  grid-column: 2;
  align-self: center;
  justify-items: center;
}

.tech-stack {
  grid-column: 2;
  align-self: center;
  justify-items: center;
}

.about {
  grid-column: 1/span 2;
  grid-row: 2;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  grid-template-rows: 1fr 4fr;
  gap: 15px;
  padding: 25px;
}

.project-label {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
}

.project-1 {
  grid-column: 2;
  grid-row: 2;
  justify-content: right;
  align-self: start;
  z-index: 2;
}

.project-2 {
  grid-column: 3;
  grid-row: 2;
  justify-content: right;
  align-self: start;
  z-index: 2;
}

.work-history-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 15px;
  padding: 25px;
}

.work-history-label {
    grid-row: 1;
    grid-column: 1;
    align-self: flex-end;
}

.work-history-1 {
  grid-row: 2;
  grid-column: 2;
  justify-content: flex-end;
  align-self: start;
  z-index: 2;
}

.work-history-2 {
  grid-row: 2;
  grid-column: 3;
  justify-content: flex-end;
  align-self: start;
  z-index: 2;
}

.work-history-3 {
  grid-row: 2;
  grid-column: 4;
  justify-content: flex-end;
  align-self: start;
  z-index: 2;
}

.education-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 15px;
  padding: 25px;
}

.education-label {
  grid-row: 1;
  grid-column: 1;
  align-self: flex-end;
}

.education-1 {
  grid-row: 2;
  grid-column: 3;
  justify-content: center;
  align-self: start;
  z-index: 2;
}

.education-2 {
  grid-row: 2;
  grid-column: 4;
  justify-content: center;
  align-self: start;
  z-index: 2;
}

.container-bg {
  padding: 10px;
  background: rgba(34, 31, 53, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 5px;
  border: 2px solid  #ff740a( 255, 255, 255, 0.5 );
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color:  #ff740a;
  --bs-card-subtitle-color: #fd9e54;
  --bs-card-border-width: 0px;
  --bs-card-border-color: #ff740a;
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--bs-card-height);
  color: #eba167;
  word-wrap: break-word;
  color: #ff740a;
  background-color: #08050500;
  background-clip: border-box;
  padding: 10px;
  background: rgba(34, 31, 53, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 5px;
  border: 2px solid  #ff740a( 255, 255, 255, 0.5 );
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  padding: 10px
}

.footer-top {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-self: center;
}
.footer-bottom {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-self: center;
}